    <head>
        {{ partial "meta.html" . }}
        <title>{{ .Title }} &middot; {{ .Site.Title }} </title>
        <link rel="canonical" href="{{ .Site.BaseURL }}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}">
        <link rel="stylesheet" type='text/css' href="{{ .Site.BaseURL }}css/main.css"/>
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
        <link href="/css/syntax-highlighting.css" rel="stylesheet" />
        <link rel="icon" href="http://donw.io/favicon.ico?v=2" />
        <script src="/js/prism.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.1/dygraph-combined-dev.js"></script>

        {{ if .GetParam "hasMath"}}
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css">
          <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/contrib/auto-render.min.js"></script>
        {{ end }}
    </head>